<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CinemaDB" connectionString="Server=localhost\SQLEXPRESS;Database=CinemaDB;Trusted_Connection=True;TrustServerCertificate=True;" />
	</connectionStrings>
	<appSettings>
		<add key="CurrentConfigName" value="CinemaHalls" />
	</appSettings>
</configuration>